#home, #home::before{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#home{
  /* background: #f0f0f0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background-image: url('./bg.jpg');
  background-size: 0;
  padding-bottom: 225px;
}

#home::before{
  content: '';

  /* background-size: cover; */
  background-position: right bottom;

  /* background-image: url('https://images.unsplash.com/photo-1541525839395-12a96905bafc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8f1242afdb7b3b9e8b06746c03e79195&auto=format&fit=crop&w=1534&q=80'); */

  /* background-image: url('https://images.unsplash.com/photo-1541580790812-1e297ae345df?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a9bcff218e6103dd6916f1b3daabe04f&auto=format&fit=crop&w=634&q=80'); */
  background-image: inherit;
  filter: blur(5px);
}

#home > *{
  z-index: 1;
}

#home #title{
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;

  /* margin-bottom: 2.5em; */

  /* background: #e5e5e5; */
  position: relative;
}

#home #title img{
  height: 60px;
  display: block;
  margin-bottom: 1em;
}

#home #categories{
  padding-bottom: 4em !important;
}

#playlistWrapper{
  width: 100%;
  position: relative;
  counter-reset: playlist;
}

#playlistWrapper #emptyMessage{
  padding: 1em 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainPlaylist{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 50px;
  width: 350px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  color: #ddd;
  overflow: auto;
  transition: transform 0.35s ease-out;
}

#mainPlaylist:not(.visible){
  transform: translateX(100%);
}

.floating #mainPlaylist{
  transform: none;
  transition: none;
  width: 100vw;
  top: calc(100vw * 9 / 16);
  background: rgba(30, 30, 30, 1);
  padding: 0;
  padding-top: 1em;
  overflow: hidden;
}

.floating #mainPlaylist #playlistWrapper{
  padding-top: 60px;
  padding-bottom: 185px;
  height: 100%;
  overflow: auto;
}

#playlistHeader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 0.6em;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.floating #playlistHeader{
  display: none;
}

#playlistHeader button{
  background: rgba(255, 255, 255, 0.8);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#playlistHeader button svg{
  width: 30px;
  height: 30px;
}
